@model List<VeiculoModel>
@{
    ViewData["Title"] = "Venda de Veiculos";
}


<div class="text-center">
    <h2 class="display-8"> Venda de Veiculo </h2>
</div>
    

<div class="text-center">
    <h3 class="display-16"> Selecione Um Veiculo </h3>

    <form class="row g-3" method="post">
        <table class="table" id="tabela-venda">
                <thead>
                    <tr>
                        <th scope="col">Modelo</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Ano</th>
                        <th scope="col">Placa</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Estado</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (VeiculoModel veiculo in Model)
                        {
                            if(veiculo.Estado == "Disponivel")
                            {
                                <tr>
                                    <td>@veiculo.Modelo</td>
                                    <td>@veiculo.Marca</td>
                                    <td>@veiculo.Ano</td>
                                    <td>@veiculo.Placa</td>
                                    <td>@veiculo.Categoria</td>
                                    <td>@veiculo.Tipo</td>
                                    <td>@veiculo.Estado</td>
                                    <td>
                                        <a role="button" class="btn btn-primary" asp-route-id="@veiculo.IdVeiculo" asp-controller="Veiculo" asp-action="Vender">Vender</a>
                                    </td>

                                </tr>
                            }
                        
                        }
                    }

                </tbody>
        </table>

            <div class="col-12 justify-content-start">
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button"> Voltar</a>
            </div>

    </form>

</div>