@model List<VeiculoModel>
@{
    ViewData["Title"] = "Aluguel de Veiculos";
}


<div class="text-center">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    <h2 class="display-8"> Veiculos para locação</h2>
    <br>
</div>

<br>

<div class="text-center">
    <h3 class="display-16"> Selecione Um Veiculo </h3>

    <!-- Alteraçao -->
    <form asp-controller="Aluguel" asp-action="Alugar" method="post">
        <table class="table" id="tabela-veiculo-locacao">
            <thead>
                <tr>
                    <th scope="col">Modelo</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Ano</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Valor Diaria</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (VeiculoModel veiculo in Model)
                    {
                        <tr>
                            <td>@veiculo.Modelo</td>
                            <td>@veiculo.Marca</td>
                            <td>@veiculo.Ano</td>
                            <td>@veiculo.Placa</td>
                            <td>@veiculo.Categoria</td>
                            <td>@veiculo.Tipo</td>
                            <td>@veiculo.Estado</td>
                            <td>@veiculo.ValorDiaria</td>
                            <td>
                                <!-- Alteraçao -->

                                <input class="form-check-input" type="radio" name="IdVeiculo" id="flexRadioDefault1" value="@veiculo.IdVeiculo">
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
        <!-- Alteraçao -->
        <div class="col-12">
            <label for="inputPlaca" class="form-label">Quandidade de Dias</label>
            <input type="text" class="form-control" name="IdVeiculo" id="input" placeholder="">
        </div>
        <!-- Alteraçao {-->
        <label>Digite as informaçoes sobre o cliente</label>
        <label>Nome e sobrenome ou CPF</label>

        <div class="col-md-4">
            <label for="inputModelo" class="form-label">Nome</label>
            <input type="text" class="form-control" name="Nome" id="input" >
        </div>
        <div class="col-md-4">
            <label for="inputFabricante" class="form-label">Sobrnome</label>
            <input type="text" class="form-control" name="Sobrenome" id="input">
        </div>
        <div class="col-md-4">
            <label for="inputPlaca" class="form-label">CPF</label>
            <input type="text" class="form-control" name="CPF" id="input" placeholder="">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Locar Veiculo</button>
            <!-- Alteraçao }-->
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index" role="button"> Voltar</a>

    </form>

</div>


<br>
<br>